.messages{
  padding: 0 20px 0 20px;
}
.message {
  border: 1px solid black;
  margin: 20px 0 20px 0;
}
.poster_info {
  position: relative;
}
.avatar {
  margin: 10px 0 0 10px;
}
.metadata {
  position: absolute;
  margin: 0;
  top: 17px;
  left: 70px;
}
.message_text {
  margin: 16px 10px 16px 10px;
}